<%# Just for test. %>
<h1>Users List</h1>
<% @users.each do |user| %>
  <p>id: <%= user.id %></p>
  <p>name: <%= user.name %></p>
  <p>email: <%= user.email %></p>
  <hr />
<% end %>

<%# Just for test. %>
<%= render 'home/amp_info' %>
